# IDE & OS Files
# Avoid upload VSCode settings and OS-specific (background) files
.vscode/ 
.DS_Store
Thumbs.db

# Exclude uploaded proposal PDFs and media, but keep the folder structure
# Avoid uploading PDFs and so on
storage/*
# But keep the structure by adding blank .gitkeep file
!storage/.gitkeep
!storage/intro_videos/
!storage/intro_videos/.gitkeep
!storage/proposals/
!storage/proposals/.gitkeep
!storage/profile_photos/
!storage/profile_photos/.gitkeep
!storage/past_projects/
!storage/past_projects/.gitkeep
!storage/past_project_images/
!storage/past_project_images/.gitkeep